stages:
  - test

mypy:
  image: python:3.10
  stage: test
  before_script:
    - pip install mypy flask flask-sqlalchemy
  script:
    - mypy hw/
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"

black:
  image: python:3.10
  stage: test
  before_script:
    - pip install "black>=24.0.0"
  script:
    - black --check --diff hw/
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"

isort:
  image: python:3.10
  stage: test
  before_script:
    - pip install isort
  script:
    - isort --check-only hw/
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"

flake8:
  image: python:3.10
  stage: test
  before_script:
    - pip install flake8
  script:
    - flake8 hw/
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"

unittest:
  image: python:3.10
  stage: test
  before_script:
    - pip install pytest flask flask-sqlalchemy
  script:
    - pytest hw/
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"
