stages:
  - test

before_script:
  - pip install -r requirements.txt pytest mypy black>=24.0.0 isort flake8 flask flask-sqlalchemy

mypy:
  image: python:3.10
  stage: test
  script:
    - mypy hw/
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"

black:
  image: python:3.10
  stage: test
  script:
    - black --check --diff hw/
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"

isort:
  image: python:3.10
  stage: test
  script:
    - isort --check-only hw/
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"

flake8:
  image: python:3.10
  stage: test
  script:
    - flake8 hw/
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"

unittest:
  image: python:3.10
  stage: test
  script:
    - pytest hw/
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"
